*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 
body{
    display: flex;
    flex-direction: column;
} 
.container{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100px;
    margin:auto;
    border: 2px solid lightgrey;
     
     
     
}
.logo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color: grey;
    color: white;
    padding: 20px;

}
.navigation{
    display: flex;
    flex-direction: row;
    width: 100;
    height: 60px;
    background-color: grey;color: white;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    margin-top:5px;
    color: white;
}
.main-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    background-color: lightgray;
    margin-top: 5px;
    justify-content: space-between;
  
}
.Bar{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    background-color: rgb(92, 83, 83);
    color: white;
    align-items: center;
   justify-content: center;
}
.con{
    display: flex;
    flex-direction: row;
    flex-basis: 78%;
    background-color: rgb(78, 74, 74);
    color: white;
    
    flex-wrap: wrap;
    /*justify-content: center;*/
    justify-content: space-between;

}
.con .box{
    display: flex;
    flex-direction: row;
    flex-basis: 33%;
    background-color: rgb(147, 160, 160);
    color: white;
    align-items: center;
    justify-content: center;

}
box :last-child{
    margin:10px;
}
.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: grey;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

