*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100px;
    border: 1px solid lightgrey;
    margin: auto;

}
.logo-menu{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-basis: 30%;
} 
.logo h2{
    color: white;
 
}
nav{
   /* width: 80%;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    padding-top: 8px ;
    overflow: hidden;*/
    display: flex;
    flex-basis: 70%;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0;
    
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 1em;
}
nav a:hover{
    background-color: orange;
    color: white;
    border-radius: 10px;
    
}
#section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: royalblue;
    color: white;
    display: inline-block;

}
#section1 h1{
   /margin-top: 80px;
    text-align: center;
}
#section2{
    width: 100%;
    height: 700px;
    background-color: rgb(104, 109, 123);
    color: white;
    display: inline-block;

}
#section2 h1{
    margin-top: 80px ;
    text-align: center;
}
#section3{
    width: 100%;
    height: 700px;
    background-color: rgb(184, 138, 208);
    color: white;
    display: inline-block;

}
#section3 h1{
    margin-top: 80px;
    text-align: center;
}
#section4{
    width: 100%;
    height: 700px;
    background-color: rgb(132, 138, 97);
    color: white;
    display: inline-block;

}
#section4 h1{
    margin-top: 80px;
    text-align: center;
}
#section5{
    width: 100%;
    height: 700px;
    background-color: rgb(197, 130, 194);
    color: white;
    display: inline-block;

}
#section5 h1{
    margin-top: 80px;
    text-align: center;
}
#footer{
    width: 100%;
    height: 60px;
    background-color: black;
}
#footer p{
    color: white;
    text-align: center;
    line-height: 60px;
}