body{
    margin: 0;
    background-color: #4e2c2c;
    font-family: aria, sans-serif;
    width: 100%;
   

    }
.navbar{
    background-color: #7f5d5d;
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 9px;
    margin-top: 1px;
    
}
.navbar a{
    color: rgb(26, 22, 21);
    margin-top: 7px;
    text-decoration: none;
    font-weight: bold;
    

}
main{
    padding: 20px;
    text-align: center;
    margin-top: 2px;
}
.main img{
    width: 100%;
 
    margin-top: 1px;
    padding: 10px;
  
   border-radius: 2px;
   border: 1px solid #ccc;   
}
.footer{
    width: 100%;
    j
}
.footer p{
    background-color: #987777;
    border-radius: 1px;
    text-align: center;
    margin-top: -1px;
}