body {
    font-family: Arial, sans-serif;
    margin: 2;
}
    
.s2-header{
    background-color: #be5a8c;
    color: #4da5dc;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #94d4e05a;
    text-decoration: none;
}

section {
    padding: 50px;
}

footer {
    background-color: #441111;
    color: #99a952;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}