@import url("./p2.jpg")

{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'poppins',sans-serif;

}
 body{
    background:#081b29;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    padding: 20px 10%;
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 95;

}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: left;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin: 35px;


}
.navbar a:hover{
    color: #00abf0  ;
}