<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="d1.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="logo">
          <h2>Carbon Cloud Dashboard</h2>
        </div>
        <div class="search">
          <input type="text" placeholder="Search resource" />
          <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>

        <div class="icon">
          <ul>
            <li><i class="fa-solid fa-pencil"></i></li>
            <li><i class="fa-solid fa-bell"></i></li>
            <li><i class="fa-solid fa-user-tie"></i></li>
          </ul>
        </div>
      </div>
      <div class="sidebar">sidebar</div>
      <div class="ai">
        <h1>AI</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quas?
          Nobis, quas
        </p>
        <button class="btn">
          Get Started &nbsp;&nbsp;&nbsp; &nbsp;<i
            class="fa-solid fa-arrow-right"
            class="arr"
          ></i>
        </button>
      </div>
      <div class="infra">
        <h1>Infrastructure</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          autem illo voluptas
        </p>
        <button class="btn">
          Get Started &nbsp;&nbsp;&nbsp; &nbsp;<i
            class="fa-solid fa-arrow-right"
            class="arr"
          ></i>
        </button>
      </div>
      <div class="service">
        <h1>Services</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          autem illo voluptas
        </p>
        <button class="btn">
          Get Started &nbsp;&nbsp;&nbsp; &nbsp;<i
            class="fa-solid fa-arrow-right"
            class="arr"
          ></i>
        </button>
      </div>
      <div class="smartgrid">
        <img src="img2.jpeg" />

        <div class="smart-con">
          <h1>Smart Grid</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            in ab maiores ex sint expedita?
          </p>

          <button class="btn-smart">
            Get Started &nbsp;&nbsp;&nbsp; &nbsp;<i
              class="fa-solid fa-arrow-right"
              class="arr"
            ></i>
          </button>
        </div>
      </div>
      <div class="security1">
        <h1>Security</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, non!</p>
        <button class="btn-s1">
            Get Started &nbsp;&nbsp;&nbsp; &nbsp;<i
              class="fa-solid fa-arrow-right"
              class="arr"
            ></i>
          </button>
      </div>
      <div class="security2"><h1>Security</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, corrupti.</p>
    <button class="btn-s2">
            Get Started &nbsp;&nbsp;&nbsp; &nbsp;<i
              class="fa-solid fa-arrow-right"
              class="arr"
            ></i>
          </button>
    </div>
      <div class="data">
        <img src="img3.jpeg" />
        <div class="smart-con2">
          <h1>Fast Data Transfer</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            in ab maiores ex sint expedita?
          </p>

          <button class="btn-data">
            Get Started &nbsp;&nbsp;&nbsp; &nbsp;<i
              class="fa-solid fa-arrow-right"
              class="arr"
            ></i>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>