*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 10vh;
    width: 100vw;
}
.container{
    width: 100%;
    height: 800px;
    background-color: rgb(90, 73, 73);
    display: grid;
    padding: 4rem;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);

}
.item{
    background-color: rgb(161, 177, 177);
    border: 5px solid black;

} 
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.side-bar{
    grid-column-start: 2;
    grid-column-end: 4;
}