<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="page1.css">
</head>
<body>
    <div class="container">
        <div class="logo-menu">
            <div class="logo"> <h2>company name</h2></div>
            <nav>
                 <a href="#section1">Home</a>
                 <a href="#section2">About us</a>
                 <a href="#section3">Services</a>
                 <a href="#section4">Gallry</a>
                 <a href="#section5">Contact</a>

            </nav>


        </div>
        <div class="head"></div>

    </div>
    
</body>
</html>