* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  color: #000;
}

.container {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar topbar"
    "sidebar main";
  height: 100vh;
  background-color: rgb(153, 148, 141);
}

.sidebar {
  grid-area: sidebar;
  background: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.sidebar ul {
  list-style: none;
  margin-top: 30px;
}

.sidebar ul li {
  font-size: 20px;
  margin: 25px 0;
  cursor: pointer;
}

.topbar {
  grid-area: topbar;
  background: #1e1e1e;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  
}
.logo{
  color: #f3f4f6;
  font-size: 2em;
}

.topbar input {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.top-icons span {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}

.main-content {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(140, 90, 90, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgrey;
  color: #000;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #333;
  flex-grow: 1;
}

.card button {
  margin-top: 10px;
  padding: 8px 12px;
  border: 1px solid #000000;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
  background-color: lightgrey;
}

.card button:hover {
  background: #5a626a;
  color: white;
}

/* Image Cards */
.image-card {
  color: black;
  background-size: cover;
  background-position: center;
}
.image-card h3{
 
}
.image-card p{
  color: rgb(182, 25, 25);
}

.black-card {
  background-image: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d?fit=crop&w=800&q=80');
}
